@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html {
  height: 100%;
}
body {
  height: 100%;
  @media (max-width: 768px) {
    height: min-content;
  }
}
html,
body {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: -1px;
}
a {
  &:visited,
  &:active,
  &:link {
    text-decoration: none;
    color: white;
  }
}
#description{
  font-size: 1.5rem;
  cursor: pointer;
}
#project-description {
  background-color: #343a40!important;
  height: 0;
  opacity: 0;
}
#content {
}
textarea {
  resize: none;
  height: 10rem;
}
footer {
  text-align: center;
  margin: 0 auto;
  z-index: 10;
  img {
    height: 1.4rem;
    width: auto;
  }
}

